[mysqld]
#skip-grant-tables
#skip_external_locking

#general_log=1
#general_log_file=/var/log/mysqld/general.log
log_error=/var/log/mysqld/error.log
#slow_query_log=ON
#slow_query_log_file=/var/log/mysqld/slow.log
#long_query_time = 0.02
#long_query_time = 0

